.banner-header{
  height: 98vh;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-welcome-container{
  width: 56rem;
  height: fit-content;
}

.banner-welcome-container h1{
  font-size: 2rem;
  color: white;
  line-height: 5.8rem;
}

.banner-welcome-container p{
  font-size: 1.2rem;
  color: #ACADAD;
  margin-bottom: 1.8rem;
}

.banner-welcome-container a{
  color: white;
  width: 4rem;
  background-color: #1EDD88;
  padding: 1rem 2rem;
  border-radius: 2rem;
}

@media (max-width: 940px) {
  .banner-header{
    background-size: cover;
  }
  .banner-welcome-container{
    width: 45rem;
  }
  .banner-welcome-container h1{
    font-size: 1.5rem;
    line-height: 3rem;
  }
}

@media (max-width: 740px) {
  .banner-welcome-container{
    width: 35rem;
  }
  .banner-welcome-container h1{
    line-height: 2rem;
  }
  .banner-welcome-container p{
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .banner-welcome-container{
    width: 25rem;
    padding: 1rem;
  }
}
